.number {
  color: yellowgreen;
  font-size: 60px;
}
.number1 {
  display: flex;
  background-color: wheat;
  line-height: 30px;
  letter-spacing: normal;
  margin-left: 30px;
  color: red;
  font-size: 20px;
  text-align: right;
}
.number2 {
  color: yellowgreen;
  font-size: 60px;
  position: relative;
}
.number3 {
  color: yellowgreen;
  font-size: 60px;
}
.number4 {
  color: yellowgreen;
  font-size: 60px;
}
.number5 {
  color: yellowgreen;
  font-size: 60px;
}
.number6 {
  color: yellowgreen;
  font-size: 60px;
}
.number7 {
  color: yellowgreen;
  font-size: 60px;
}
.number8 {
  color: yellowgreen;
  font-size: 60px;
}
.number9 {
  color: yellowgreen;
  font-size: 60px;
}
.number10 {
  color: yellowgreen;
  font-size: 60px;
}
.number11 {
  color: yellowgreen;
  font-size: 60px;
}
.number12 {
  color: yellowgreen;
  font-size: 60px;
}
.number13 {
  color: yellowgreen;
  font-size: 60px;
}
.number14 {
  color: yellowgreen;
  font-size: 60px;
}
.number15 {
  color: yellowgreen;
  font-size: 60px;
}
.number16 {
  color: yellowgreen;
  font-size: 60px;
}
.number17 {
  color: yellowgreen;
  font-size: 60px;
}
.number18 {
  color: yellowgreen;
  font-size: 60px;
}
.number19 {
  color: yellowgreen;
  font-size: 60px;
}
.number20 {
  color: yellowgreen;
  font-size: 60px;
}
.number21 {
  color: yellowgreen;
  font-size: 60px;
}
.number22 {
  color: yellowgreen;
  font-size: 60px;
}
.number23 {
  color: yellowgreen;
  font-size: 60px;
}
.number24 {
  color: yellowgreen;
  font-size: 60px;
}
.number25 {
  color: yellowgreen;
  font-size: 60px;
}
.number26 {
  color: yellowgreen;
  font-size: 60px;
}
.number27 {
  color: yellowgreen;
  font-size: 60px;
}
.number28 {
  color: yellowgreen;
  font-size: 60px;
}
.number29 {
  color: yellowgreen;
  font-size: 60px;
}
.number30 {
  color: yellowgreen;
  font-size: 60px;
}
.number31 {
  color: yellowgreen;
  font-size: 60px;
}
.number32 {
  color: yellowgreen;
  font-size: 60px;
}
.number33 {
  color: yellowgreen;
  font-size: 60px;
}
.number34 {
  color: yellowgreen;
  font-size: 60px;
}
